@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: theme('colors.brand.dark');
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}